html {}

body {
    margin: 0;
    min-height: 100vh;
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 5px, white 5px, white 10px);
}

hr {
    border: none;
    border-bottom: 1px solid black;
    margin: 2rem 0;
}

.main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.headers {

}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.tabs button {
    border: none;
    background-color: white;
    border-bottom: 1px solid blue;

    color: blue;

    outline: none;

    padding: .2rem .2rem;
    margin-right: 1rem;

    transition: all 0.1s ease-in-out;

    cursor: pointer;
}

.tabs button:last-child {
    margin-right: 0;
}

.tabs button:hover {
    color: darkblue;
    border-bottom: 1px solid darkblue;
}

.content {
    width: calc(600px + 6rem);
    padding: 2rem;
    background-color: white;
    /*min-height: calc(100vh - 4rem);*/
    box-shadow: 10px 10px 0 0 rgba(0,0,0,.3);
    box-sizing: border-box;


}

.content h2 {
    margin-top: 0;
}

.form {
    margin-bottom: 2rem;
}


.graph {
    margin: 0 auto;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
}

.graph div {
    margin: 0 auto;
}

.graph > span {
    display: block;
    width: 100%;
    font-size: smaller;
    text-align: center;
    margin: 0 auto;
    color: #545454;
    padding: 5px;
}

.graph > span span {
    color: red;
}

.graph input[type="range"] {
    display: block;
    position: absolute;
    top:30px;
    right: 40px;
    outline: none;
}


.result {
    display: none;
}